@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Recognizing specific face areas */
.face-recognition-box {
    border: 2px dashed #63b3ed;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    color: #edf2f7;
}


    